{{ define "main" }}
  <main>
    <section>
      <h1>Bookmarklets</h1>
      <div>
        By me:
      </div>
      <ul>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/retitle_tab.ts"
                "description" "Retitle tab"
              )
          -}}
        </li>
        <li>
          {{-
            partial "bookmarklet.html" (dict
              "path" "bookmarklets/create_ubuntu_desktop_icon.ts"
              "description" "Create a Ubuntu desktop icon for a site"
            )
        -}}
        </li>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/nearest_id.ts"
                "description" "Navigate to nearest id'd element relative to selected text"
              )
          -}}
        </li>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/date.ts"
                "description" "Print today's date"
              )
          -}}
        </li>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/power.ts"
                "description" "Calculate power of 2"
              )
          -}}
        </li>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/hex.ts"
                "description" "Calculate hex"
              )
          -}}
        </li>
        <li>
          {{-
              partial "bookmarklet.html" (dict
                "path" "bookmarklets/binary.ts"
                "description" "Calculate binary"
              )
          -}}
        </li>
      </ul>
    </section>
    <section>
      <h2>
        Usage
      </h2>
      <p>
        Either drag-and-drop a link into your bookmarks bar or right-click a link and select "add to bookmarks".
        Click your bookmark to run the bookmarklet.
      </p>
    </section>
    <section>
      <h2>Links to other bookmarklet projects I use regularly</h2>
      <ul>
        <li><a href="https://mourner.github.io/bullshit.js/">bullshit.js</a>: text translation</li>
        <li><a href="https://marmelab.com/gremlins.js/">gremlins.js</a>: ui monkey-testing</li>
        <li><a href="https://web.hypothes.is/start/">hypothes.is</a>: web annotation</li>
        <li><a href="https://github.com/84adam/tabnotes-x">tabnotes-x</a>: a scratch pad</li>
      </ul>
    </section>
  </main>
{{ end }}